/*GENERAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin";
}

.hidden {
  display: none !important;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.container {
    margin: 10px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Open Sans";
}

hr {
    background-color: lightgray;
    margin: 30px 0;
    height: 1px;
    border: none;
}

a {
    text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;
}

#a-about-me {
    top: -90px;
}

/*NAVBAR*/

#navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  border-bottom: 1px solid gray;
  height: 60px;
  align-items: center;
  justify-content: center;
}

#navbar > a {
  margin: 0 20px;
  text-decoration: none;
  font-family: "Open Sans";
  color: black;
}

#navbar-mobile {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  border-bottom: 1px solid gray;
  height: 60px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#navbar-mobile__menu {
    margin-left: 18px;
    cursor: pointer;
}

#navbar-mobile__title {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: "Open Sans";
}

#dropdown-menu {
    z-index: 1;
    border: 1px solid gray;
    background-color: white;
    width: 180px;
    height: 384px;
    position: fixed;
    top: 59px;
    border-bottom: none;
}

#dropdown-menu > a {
    height: 64px;
    font-size: 18px;
    padding: 20px 0;
    padding-left: 18px;
    border-bottom: 1px solid gray;
    display: block;
    text-decoration: none;
    font-family: "Open Sans";
    color: black;
}

/*BANNER*/

#banner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  /*align-items: flex-end;*/
  align-items: center;
  margin-bottom: 30px
}

#title {
    position: absolute;
    top: 25%;
    width: 100%;
}

#name {
  width: 100%;
  text-align: center;
  font-family: "Trade Winds";
  font-size: 60px;
  color: #046ebf;
}

#occupation {
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: #046ebf;
}

/*ABOUT ME*/

#about-me__intro {
    line-height: 1.5em;
}

#about-me__image-container {
    text-align: center;
    margin-bottom: 30px;
}

#about-me__image-container > img {
    border: 1px solid lightgray;
}

/*EXPERIENCE*/

ul {
    list-style-type: none;
}

li {
    padding-left: 40px;
    margin: 8px 0;
}

.date-range {
    font-size: 12px;
    color: gray;
}

#experience > .container {
    margin: 20px 0;
}

/*PROJECTS*/

.project {
    margin-bottom: 30px;
}

.project__title {
    text-align: center;
    font-size: 18px;
}

.project__description {
    margin: 10px 0;
}

.project__link {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

/*TECHNOLOGY*/

#technology__image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

#technology__image-container > div  {
    overflow: hidden;
    height: 140px;
    width: 140px;
    margin: 10px;
    text-align: center;
}

.tech-img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

/*CONTACT*/

#contact {
    height: 300px;
}

.center {
    text-align: center;
}

#credit {
    font-size: 14px;
}

/*RESPONSIVENESS*/

@media only screen and (max-width: 850px) {
    .section {
        width: 500px;
    }
}

@media only screen and (max-width: 650px) {
    .section {
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .section {
        width: 320px;
    }

    #about-me__image-container > img {
        width: 300px;
        height: 300px;
    }
        
}

@media only screen and (max-width: 375px) {
    .section {
        width: 300px;
    }
}

@media only screen and (max-width: 320px) {
    #name {
        font-size: 48px;
    }

    #occupation {
        font-size: 16px;
    }
}
