/* GENERAL */

html, body {
    overflow-x:hidden 
}

body {
    margin: 0;
}

.section {
    font-family: 'Open Sans';
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-family: 'Quattrocento';
    margin-top: 20px;
}

hr {
    margin: 0 20px;
}

.lower-hr {
    margin-bottom: 10px;
}

/* NAVBAR */

.navbar {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #343a40;
    margin-left: 0;
    justify-content: center;
}

.navbar > a {
    padding: 10px;
    text-decoration: none;
    color: #007bff !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* BANNER */

.banner {
    margin-top: 38px;
    height: 538px;
    background-image: url('/images/dual-monitor-original.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;    
}

.banner > div {
    text-align: center;
}

.name {
    color: #007bff;
    font-size: 80px;
    font-family: 'Trade Winds';
}

.profession {
    color: #007bff;
    font-size: 40px;
    font-family: 'Open Sans';
}

/* ABOUT ME */

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me > div {
    min-width: 280px;
    max-width: 500px;
    margin: 10px;
}

.profile-picture {
    min-width: 300px;
    max-width: 500px;
}

.profile-picture > img {
    width: 100%;
}

.about-me > div > div {
    margin: 10px 0;
}

.education {
    padding-top: 10px;
}

/* WORK EXPERIENCE */

.work-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-experience > div {
    margin: 0 20px 20px;
}

.job-summary {
    min-width: 280px;
    max-width: 400px;
}

.work-experience > div > p, h3, h4 {
    margin: 5px 0;
    min-width: 280px;
    max-width: 400px;
    text-align: center;
    padding-right: 20px;
}

h3, h4 {
    font-weight: 500;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

/* PROJECTS */

.projects > div > div > img {
    width: 85%;
}

.project-title {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.project-description {
    margin: 5px 40px 60px;
}

.project-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-container > i {
    display: flex;
    align-items: center;
    margin: 10px;
}

.fa {
    cursor: default !important;
    margin: 0px 5px !important;
}

/* TECHNOLOGIES */

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.technologies > div {
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: flex-end;
    width: 100px;
    height: 140px;
    text-align: center;
}

.technologies > div > a > img {
    width: 80px;
}

/* CONTACT */

.contact {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.contact > div {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Open Sans';
}

.contact > div > a {
    text-decoration: none;
}

/* DYNAMIC CHANGES */

@media only screen and (max-width: 552px) {
    .banner {
        margin-top: 56px;
    }

    .project-title {
        margin: 5px 10px;
    }

    .project-description {
        margin: 0 10px 10px;
    }

    .navbar > a {
        padding: 5px 10px;
    }

    
}

@media only screen and (min-width: 1250px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects > div {
        width: 50%;
    }
}